<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Superhéroe</title>
    <link rel="stylesheet" href="/api/superheroes/style.css">
</head>
<body>
    <h1>Eliminar Superhéroe</h1>
    <form action="/api/superheroes/delete" method="post">
        <label for="nombreSuperheroe">Nombre del Superhéroe</label>
        <input type="text" id="nombreSuperheroe" name="nombreSuperheroe" placeholder="Escribe el Nombre" required>
        <button type="submit">Eliminar</button>
    </form>
    <a href="/api/superheroes">Volver al Dashboard</a>
    <% if (errors.length > 0 ) { %>
        <ul>
            <% errors.forEach(function(error) { %>
                <li><%= error.msg %></li> <!--Cambiado de error.mgs a error.msg-->
            <% }) %>
        </ul>
    <% } %>
</body>
</html>